* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

.trybewarts-header-logo {
  height: 80px;
  margin-left: 20px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
  margin-right: 20px;
}

.entrar {
  height: 40px;
  width: 160px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 20px;
  font-family: Times, serif;
  border: none;
  padding-left: 10px;
}

#btn-entrar {
  height: 44px;
  background-color: purple;
  color: white;
}

.form-container {
  display: flex;
  background-color: rgba(225, 200, 248, 0.274);
}

#evaluation-form {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 675px;
  margin-left: 8%;
  flex-direction: column;
}

#form-title {
  align-self: center;
}

.hr-line {
  width: 90%;
  height: 2px;
  background-color: rgb(190, 190, 190);
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

.nome-sobrenome {
  flex-direction: row;
}

#house {
  margin: 5px;
}
